 
# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build files (if applicable)
dist/
build/

# Ignore only JPG images inside uploads directory
uploads/*.jpg
uploads/*.PNG
uploads/*.jpeg
